In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_excel('/content/train_ctrUa4K.excels.xlsx')

In [ ]:
print(df)

      Loan_ID  Gender Married  ... Credit_History Property_Area Loan_Status
0    LP001002    Male      No  ...            1.0         Urban           Y
1    LP001003    Male     Yes  ...            1.0         Rural           N
2    LP001005    Male     Yes  ...            1.0         Urban           Y
3    LP001006    Male     Yes  ...            1.0         Urban           Y
4    LP001008    Male      No  ...            1.0         Urban           Y
..        ...     ...     ...  ...            ...           ...         ...
609  LP002978  Female      No  ...            1.0         Rural           Y
610  LP002979    Male     Yes  ...            1.0         Rural           Y
611  LP002983    Male     Yes  ...            1.0         Urban           Y
612  LP002984    Male     Yes  ...            1.0         Urban           Y
613  LP002990  Female      No  ...            0.0     Semiurban           N

[614 rows x 13 columns]

In [ ]:
df.head()

    Loan_ID Gender Married  ... Credit_History Property_Area Loan_Status
0  LP001002   Male      No  ...            1.0         Urban           Y
1  LP001003   Male     Yes  ...            1.0         Rural           N
2  LP001005   Male     Yes  ...            1.0         Urban           Y
3  LP001006   Male     Yes  ...            1.0         Urban           Y
4  LP001008   Male      No  ...            1.0         Urban           Y

[5 rows x 13 columns]

In [ ]:
df.tail()

      Loan_ID  Gender Married  ... Credit_History Property_Area Loan_Status
609  LP002978  Female      No  ...            1.0         Rural           Y
610  LP002979    Male     Yes  ...            1.0         Rural           Y
611  LP002983    Male     Yes  ...            1.0         Urban           Y
612  LP002984    Male     Yes  ...            1.0         Urban           Y
613  LP002990  Female      No  ...            0.0     Semiurban           N

[5 rows x 13 columns]

In [ ]:
df.shape

(614, 13)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
Loan_ID              614 non-null object
Gender               601 non-null object
Married              611 non-null object
Dependents           599 non-null object
Education            614 non-null object
Self_Employed        582 non-null object
ApplicantIncome      614 non-null int64
CoapplicantIncome    614 non-null float64
LoanAmount           592 non-null float64
Loan_Amount_Term     600 non-null float64
Credit_History       564 non-null float64
Property_Area        614 non-null object
Loan_Status          614 non-null object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [ ]:
df.describe().T

                   count         mean          std  ...     50%      75%      max
ApplicantIncome    614.0  5403.459283  6109.041673  ...  3812.5  5795.00  81000.0
CoapplicantIncome  614.0  1621.245798  2926.248369  ...  1188.5  2297.25  41667.0
LoanAmount         592.0   146.412162    85.587325  ...   128.0   168.00    700.0
Loan_Amount_Term   600.0   342.000000    65.120410  ...   360.0   360.00    480.0
Credit_History     564.0     0.842199     0.364878  ...     1.0     1.00      1.0

[5 rows x 8 columns]

In [ ]:
X=df[['Credit_History']]

In [ ]:
print(X)

     Credit_History
0               1.0
1               1.0
2               1.0
3               1.0
4               1.0
..              ...
609             1.0
610             1.0
611             1.0
612             1.0
613             0.0

[614 rows x 1 columns]

In [ ]:
# Calculate the missing values 
X.isna().apply(pd.value_counts).T

                False  True
Credit_History    564     50

In [ ]:
X.head()

   Credit_History
0             1.0
1             1.0
2             1.0
3             1.0
4             1.0

In [ ]:
X.tail()

     Credit_History
609             1.0
610             1.0
611             1.0
612             1.0
613             0.0

In [ ]:
# Corelation matrix 
corr=df.corr()

In [ ]:
print(corr)

                   ApplicantIncome  ...  Credit_History
ApplicantIncome           1.000000  ...       -0.014715
CoapplicantIncome        -0.116605  ...       -0.002056
LoanAmount                0.570909  ...       -0.008433
Loan_Amount_Term         -0.045306  ...        0.001470
Credit_History           -0.014715  ...        1.000000

[5 rows x 5 columns]

In [ ]:
corr*100

                   ApplicantIncome  ...  Credit_History
ApplicantIncome         100.000000  ...       -1.471488
CoapplicantIncome       -11.660458  ...       -0.205628
LoanAmount               57.090904  ...       -0.843277
Loan_Amount_Term         -4.530609  ...        0.147011
Credit_History           -1.471488  ...      100.000000

[5 rows x 5 columns]

In [ ]:
y=df[['Loan_Status']]

In [ ]:
print(y)

    Loan_Status
0             Y
1             N
2             Y
3             Y
4             Y
..          ...
609           Y
610           Y
611           Y
612           Y
613           N

[614 rows x 1 columns]

In [ ]:
y.head()

  Loan_Status
0           Y
1           N
2           Y
3           Y
4           Y

In [ ]:
y.tail()

    Loan_Status
609           Y
610           Y
611           Y
612           Y
613           N

In [ ]:
# Calculate the missing values 
y.isna().apply(pd.value_counts).T

             False
Loan_Status    614

In [ ]:
# import train test split 
from sklearn.model_selection import train_test_split

In [ ]:
# Train test split 70:30 
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,train_size=0.7,random_state=1)

In [ ]:
print(X_train.shape)

(429, 1)

In [ ]:
X_test.shape

(185, 1)

In [ ]:
df.shape

(614, 13)

In [ ]:
y_train.shape

(429, 1)

In [ ]:
y_test.shape

(185, 1)

In [ ]:
y_train.shape

(429, 1)

In [ ]:
y_train.head()

    Loan_Status
81            Y
133           Y
400           N
486           N
161           N

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
# Test Predict Data y_pred y hat 
y_pred=model.predict(X_test)

In [ ]:
import pandas as pd
import numpy as np 
df=pd.read_excel('/content/train_ctrUa4K.excels.xlsx')

In [ ]:
df.head()

    Loan_ID Gender Married  ... Credit_History Property_Area Loan_Status
0  LP001002   Male      No  ...            1.0         Urban           Y
1  LP001003   Male     Yes  ...            1.0         Rural           N
2  LP001005   Male     Yes  ...            1.0         Urban           Y
3  LP001006   Male     Yes  ...            1.0         Urban           Y
4  LP001008   Male      No  ...            1.0         Urban           Y

[5 rows x 13 columns]

In [ ]:
df.tail()

      Loan_ID  Gender Married  ... Credit_History Property_Area Loan_Status
609  LP002978  Female      No  ...            1.0         Rural           Y
610  LP002979    Male     Yes  ...            1.0         Rural           Y
611  LP002983    Male     Yes  ...            1.0         Urban           Y
612  LP002984    Male     Yes  ...            1.0         Urban           Y
613  LP002990  Female      No  ...            0.0     Semiurban           N

[5 rows x 13 columns]

In [ ]:
df.describe().T

                   count         mean          std  ...     50%      75%      max
ApplicantIncome    614.0  5403.459283  6109.041673  ...  3812.5  5795.00  81000.0
CoapplicantIncome  614.0  1621.245798  2926.248369  ...  1188.5  2297.25  41667.0
LoanAmount         592.0   146.412162    85.587325  ...   128.0   168.00    700.0
Loan_Amount_Term   600.0   342.000000    65.120410  ...   360.0   360.00    480.0
Credit_History     564.0     0.842199     0.364878  ...     1.0     1.00      1.0

[5 rows x 8 columns]

In [ ]:


df=pd.read_csv('/content/Iris.csv.csv')

In [ ]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [ ]:
df.tail()

      Id  SepalLengthCm  ...  PetalWidthCm         Species
145  146            6.7  ...           2.3  Iris-virginica
146  147            6.3  ...           1.9  Iris-virginica
147  148            6.5  ...           2.0  Iris-virginica
148  149            6.2  ...           2.3  Iris-virginica
149  150            5.9  ...           1.8  Iris-virginica

[5 rows x 6 columns]

In [ ]:
df.shape

In [ ]:
df.info()

In [ ]:
df.dtypes

In [ ]:
df.describe().T

In [ ]:
# Checking for missing values 
df.isna().apply(pd.value_counts).T

               False
Id               150
SepalLengthCm    150
SepalWidthCm     150
PetalLengthCm    150
PetalWidthCm     150
Species          150

In [ ]:
corr=df.corr()
print(corr)

                     Id  SepalLengthCm  ...  PetalLengthCm  PetalWidthCm
Id             1.000000       0.716676  ...       0.882747      0.899759
SepalLengthCm  0.716676       1.000000  ...       0.871754      0.817954
SepalWidthCm  -0.397729      -0.109369  ...      -0.420516     -0.356544
PetalLengthCm  0.882747       0.871754  ...       1.000000      0.962757
PetalWidthCm   0.899759       0.817954  ...       0.962757      1.000000

[5 rows x 5 columns]

In [ ]:
import pandas_profiling

In [ ]:
!pip install pandas==0.25.0
import pandas as pd
pd.__version__

Requirement already satisfied: pandas==0.25.0 in /usr/local/lib/python3.7/dist-packages (0.25.0)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.7/dist-packages (from pandas==0.25.0) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas==0.25.0) (2018.9)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.7/dist-packages (from pandas==0.25.0) (1.19.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.6.1->pandas==0.25.0) (1.15.0)

'0.25.0'

In [ ]:
pandas_profiling.ProfileReport(df)

/usr/local/lib/python3.7/dist-packages/pandas_profiling/describe.py:392: FutureWarning: The join_axes-keyword is deprecated. Use .reindex or .reindex_like on the result to achieve the same functionality.
  variable_stats = pd.concat(ldesc, join_axes=pd.Index([names]), axis=1)

In [ ]:
#Defining the Data / Data Preparation
X = df.drop(['Id','Species'],axis=1)
y = df[['Species']]

In [ ]:
X.head

<bound method NDFrame.head of      SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0              5.1           3.5            1.4           0.2
1              4.9           3.0            1.4           0.2
2              4.7           3.2            1.3           0.2
3              4.6           3.1            1.5           0.2
4              5.0           3.6            1.4           0.2
..             ...           ...            ...           ...
145            6.7           3.0            5.2           2.3
146            6.3           2.5            5.0           1.9
147            6.5           3.0            5.2           2.0
148            6.2           3.4            5.4           2.3
149            5.9           3.0            5.1           1.8

[150 rows x 4 columns]>

In [ ]:
y.head

<bound method NDFrame.head of             Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 1 columns]>

In [ ]:
##importing the train_test_split function using sklearn
from sklearn.model_selection import train_test_split
#70:30 split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=1)
X

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0              5.1           3.5            1.4           0.2
1              4.9           3.0            1.4           0.2
2              4.7           3.2            1.3           0.2
3              4.6           3.1            1.5           0.2
4              5.0           3.6            1.4           0.2
..             ...           ...            ...           ...
145            6.7           3.0            5.2           2.3
146            6.3           2.5            5.0           1.9
147            6.5           3.0            5.2           2.0
148            6.2           3.4            5.4           2.3
149            5.9           3.0            5.1           1.8

[150 rows x 4 columns]