In [ ]:
import pandas as pd 
import numpy as np 
import warnings 
warnings.filterwarnings('ignore')

In [ ]:
df=pd.read_csv('//content/BankData_new.csv')

In [ ]:
df.head()

   age  job  marital  education  ...  cons.conf.idx  euribor3m  nr.employed  y
0   56    3        1          0  ...          -36.4      4.857       5191.0  0
1   57    7        1          3  ...          -36.4      4.857       5191.0  0
2   37    7        1          3  ...          -36.4      4.857       5191.0  0
3   40    0        1          1  ...          -36.4      4.857       5191.0  0
4   56    7        1          3  ...          -36.4      4.857       5191.0  0

[5 rows x 21 columns]

In [ ]:
df.tail()

       age  job  marital  education  ...  cons.conf.idx  euribor3m  nr.employed  y
41183   73    5        1          5  ...          -50.8      1.028       4963.6  1
41184   46    1        1          5  ...          -50.8      1.028       4963.6  0
41185   56    5        1          6  ...          -50.8      1.028       4963.6  0
41186   44    9        1          5  ...          -50.8      1.028       4963.6  1
41187   74    5        1          5  ...          -50.8      1.028       4963.6  0

[5 rows x 21 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  int64
 2   marital         41188 non-null  int64
 3   education       41188 non-null  int64
 4   default         41188 non-null  int64
 5   housing         41188 non-null  int64
 6   loan            41188 non-null  int64
 7   contact         41188 non-null  int64
 8   month           41188 non-null  int64
 9   day_of_week     41188 non-null  int64
 10  duration        41188 non-null  int64
 11  campaign        41188 non-null  int64
 12  pdays           41188 non-null  int64
 13  previous        41188 non-null  int64
 14  poutcome        41188 non-null  int64
 15  emp.var.rate    41188 non-null  float64
 16  cons.price.idx  41188 non-null  float64
 17  cons.conf.idx   41188 non-null  float64
 18  euribor3m       41188 non-null  float64
 19  nr.employed     41188 non-null  float64
 20  y               41188 non-null  int64
dtypes: float64(5), int64(16)
memory usage: 6.6 MB

In [ ]:
df.shape

(41188, 21)

In [ ]:
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.ensemble import RandomForestClassifier

In [ ]:
from sklearn.pipeline import Pipeline

In [ ]:
pipeline = Pipeline([('Scaler',StandardScaler()),('PCA',PCA(n_components=3,random_state=1)),('rf',RandomForestClassifier(criterion='entropy',max_depth=3,random_state=1))])

In [ ]:


#Defining data
X = df.drop(['duration','campaign'],axis=1)
y = df[['pdays']]

In [ ]:


from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=1)

In [ ]:
pipeline.fit(X_train,y_train)

Pipeline(memory=None,
         steps=[('Scaler',
                 StandardScaler(copy=True, with_mean=True, with_std=True)),
                ('PCA',
                 PCA(copy=True, iterated_power='auto', n_components=3,
                     random_state=1, svd_solver='auto', tol=0.0,
                     whiten=False)),
                ('rf',
                 RandomForestClassifier(bootstrap=True, ccp_alpha=0.0,
                                        class_weight=None, criterion='entropy',
                                        max_depth=3, max_features='auto',
                                        max_leaf_nodes=None, max_samples=None,
                                        min_impurity_decrease=0.0,
                                        min_impurity_split=None,
                                        min_samples_leaf=1, min_samples_split=2,
                                        min_weight_fraction_leaf=0.0,
                                        n_estimators=100, n_jobs=None,
                                        oob_score=False, random_state=1,
                                        verbose=0, warm_start=False))],
         verbose=False)

In [ ]:


pipeline_pred = pipeline.predict(X_test)

In [ ]:


from sklearn.metrics import accuracy_score

In [ ]:


accuracy_score(y_test,pipeline_pred)*100

97.36991179088776

In [ ]:
pipeline.score(X_train,y_train)*100

97.45066074711248