In [ ]:
# print the type of x,y,z

x = 1  
y = 2.8  
z = 1j

print(type(x))
print( type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [ ]:
# Convert flot into int 

X=1.4
x=int(x)
print(type(x))

<class 'int'>

In [ ]:
#Convert from one type to another:

x = 5   # int
y = 3.8  # float
z = 5j   # complex

#convert from int to float:
x=float(5)

#convert from float to int:
y=int(3.8)

#convert from int to complex:
z=complex(5j)

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'int'>
<class 'complex'>

In [ ]:
# Print 15 random numbers

import random

print(random.randrange(1, 15) )

12

In [ ]:
# Convert int ,float to string 

x = str("t5") 
y = str(4)    
z = str(6.0)

print(type(x))
print(type(y))
print(type(z))

<class 'str'>
<class 'str'>
<class 'str'>

In [ ]:
# Assign a string to variable 

a="hello"
print(a)

hello

In [ ]:
# Concatenate two string 
a="Hello raj?"
b="Hi Manish."
c="How are you."
d="I am fine."

print(a+b+c+d)

Hello raj?Hi Manish.How are you.I am fine.

In [ ]:
# Print the output='lo, Wor'
a = "Hello, World!"
print(a[3:10])

lo, Wor

In [ ]:
# Check the required string/word is in the sentence of not

Sentence="Hello Indian , I like you culture."

print("like" in Sentence)

True

In [ ]:
# Print the output='I Love'
Sentence="I Love India!"
print(Sentence[0:6])

I Love

In [ ]:
#print the output: 
#I want to pay 49.95 dollars for 3 pieces of item 567

quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity,itemno,price))
# print(myorder.format()

I want to pay 49.95 dollars for 3 pieces of item 567.

In [ ]:
# remove the error
Sent = "We will vist 'America' after two days."
print(Sent)

We will vist 'America' after two days.

In [ ]:
# Print the sentence after comma in next line 
Sent=" Hii Mona ,\n When will we go for holidays ?  "
print(Sent)

 Hii Mona ,
 When will we go for holidays ?

In [ ]:
# Remove the duplicate from the list 
List=["Ram",'Sam','Nick','Sam']
List1 = set(List)
List1

{'Nick', 'Ram', 'Sam'}

In [ ]:
# Print last for element of list by negative Indexing 

Fruit_list = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(Fruit_list[-1])

mango

In [ ]:
# Replace the first Sam from Micky
List=["Ram",'Sam','Nick','Sam']
List[0]= "Micky"
List

['Micky', 'Sam', 'Nick', 'Sam']

In [ ]:
# Insert the Micky at 3rd index
List=["Ram",'Sam','Nick','Sam']
List[3] = "Micky"
List

['Ram', 'Sam', 'Nick', 'Micky']

In [ ]:
# Insert Kiwi in a tuple

x = ("apple", "banana", "cherry")
y = list(x)

y.append("kiwi")
x = tuple(y)

print(x)

('apple', 'banana', 'cherry', 'kiwi')

In [ ]:
# Add item in set

Fruits = {"apple", "banana", "cherry"}

Fruits.add("Mango")

print(Fruits)

{'cherry', 'apple', 'banana', 'Mango'}

In [ ]:
# Add two set
Fruit1 = {"apple", "banana", "cherry"}
Fruit2 = {"pineapple", "mango", "papaya"}

print(Fruit1.union(Fruit2))

{'cherry', 'papaya', 'apple', 'banana', 'mango', 'pineapple'}

In [ ]:
# Remove the any item from the set
set={"Krishh","Prince","KUmar"}
set.remove("Prince")
set

{'KUmar', 'Krishh'}

In [ ]:
#Add a new item to the original dictionary, and see that the keys list gets updated as well:
Bike = {
"brand": "Bajaj",
"model": "TVS",
"year": 2013
}

x = Bike.keys()

print(x) #before the change

Bike["Rating"] = "A"

print(x) #after the change
print(Bike)

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'Rating'])
{'brand': 'Bajaj', 'model': 'TVS', 'year': 2013, 'Rating': 'A'}

In [ ]:
#Update the item from the Dict
Car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
Car.update({"year": 2020})
Car

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [ ]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = car.values()
print(x)

dict_values(['Ford', 'Mustang', 1964])